<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Aspire">
    <test verbose="2" preserve-order="true" name="C:/Users/pshasam/Desktop/Aspire">
        <classes>
            <class name="TestCases.Aspire_E2E"/>
        </classes>
    </test>
</suite>